/*=============== PAGES ===============*/
/*=============== FONTS ===============*/
@font-face {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"); }
/*=============== PAGES ===============*/
/*=============== FONTS ===============*/
@font-face {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"); }
/*=============== VARIABLES ===============*/
:root {
  /*======== Fonts ========*/
  --font-regular: 'Roboto-Regular';
  --font-bold: 'Roboto-Bold';
  /*======== Colors ========*/
  --text-color-nav: #141414;
  --text-color-footer: #778291;
  --text-color-h1: rgba(14, 16, 22, 0.95);
  --text-color-h2: #000000;
  --text-color-h3: rgba(14, 16, 22, 0.95);
  --text-color-h4: #FFFFFF;
  --text-color-p: rgba(14, 16, 22, 0.95);
  --text-color-subtitle: #35393F;
  --text-color-subtitle-two: #F4F3F3;
  --text-color-description: rgba(14, 16, 22, 0.4);
  --text-color-gray: #B2B2B2;
  --text-color-green: #0C9F64;
  --text-color-yellow: #FEC104;
  --text-color-white: #FFFFFF;
  --text-color-black: #000000;
  --text-color-button-one: #333333;
  --text-color-button-two: #FFFFFF;
  --text-color-button-three: #F4F6F8;
  --text-color-hover: #0099FF;
  --input-color-border: #0099FF;
  --button-color-border: #F8F4F4;
  --button-color-border-two: #000000;
  --button-color-one: #0099FF;
  --button-color-two: rgb(221, 221, 221);
  --button-color-three: #FFFFFF;
  --slider-box-color-background: #202E78;
  --slider-color-background: #000639;
  --templates-box-color-background: #181818;
  --new-color-background: #F64775; }

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body .button-gray {
  font-family: var(--font-regular);
  font-size: 18px;
  line-height: 20px;
  color: var(--text-color-button-one);
  border-color: transparent;
  background-color: transparent;
  transition: 0.2s ease-out;
  height: 50px; }
  body .button-gray:hover {
    color: var(--text-color-button-one);
    border-color: var(--button-color-two);
    background-color: var(--button-color-two); }
body .button-blue {
  font-family: var(--font-regular);
  font-size: 18px;
  line-height: 20px;
  color: var(--text-color-button-two);
  border-color: transparent;
  background-color: var(--button-color-one);
  transition: 0.2s ease-out;
  height: 50px; }
  body .button-blue:hover {
    color: var(--text-color-hover);
    background-color: transparent;
    border-color: var(--button-color-one); }

/*=============== HEADER ===============*/
.header .menu-link {
  font-family: var(--font-regular);
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color-nav);
  transition: 0.2s ease-out; }
  .header .menu-link:hover {
    color: var(--text-color-hover); }
.header__body .title {
  font-family: var(--font-regular);
  font-size: 120px;
  line-height: 110px;
  letter-spacing: 2px;
  color: var(--text-color-h1);
  text-align: center; }
.header__body .subtitle {
  font-family: var(--font-regular);
  font-size: 26px;
  line-height: 36px;
  color: var(--text-color-subtitle);
  text-align: center;
  margin: 70px 0 30px 0; }
.header__body-input {
  width: 455px; }
  .header__body-input .input-group .header-input {
    border-radius: 0px;
    border: 2px solid var(--input-color-border); }
    .header__body-input .input-group .header-input::placeholder {
      font-family: var(--font-regular);
      font-size: 20px;
      line-height: 28px;
      color: var(--text-color-gray); }
  .header__body-input .input-group .input-group-prepend button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
.header__body .header-subtitle {
  font-family: var(--font-regular);
  font-size: 20px;
  line-height: 28px;
  color: var(--text-color-gray); }

/*=============== BODY ===============*/
.body .body-top {
  margin-bottom: 100px; }
  .body .body-top .body-title {
    font-family: var(--font-regular);
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 1.5px;
    color: var(--text-color-h2);
    margin-top: 90px; }
  .body .body-top .play-button {
    display: flex;
    align-items: center;
    background: var(--button-color-three);
    border: 2px solid transparent;
    border-radius: 40px;
    box-shadow: 0px 7px 10px rgba(186, 193, 197, 0.2);
    transition: 0.2s ease-out;
    padding: 21.5px 30px 21.5px 21.5px; }
    .body .body-top .play-button:hover {
      background: var(--button-color-two); }
    .body .body-top .play-button .play-button__text {
      font-family: var(--font-regular);
      font-size: 18px;
      line-height: 20px;
      color: var(--text-color-black);
      margin-left: 16.5px; }
.body .body-medium-one {
  margin: 100px 0; }
  .body .body-medium-one .p-title {
    font-family: var(--font-bold);
    font-size: 30px;
    line-height: 36px;
    color: var(--text-color-green); }
  .body .body-medium-one .h3-title {
    font-family: var(--font-bold);
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 1.5px;
    color: var(--text-color-h3);
    margin: 15px 70px 25px 0; }
  .body .body-medium-one .description {
    font-family: var(--font-regular);
    font-size: 22px;
    line-height: 31px;
    color: var(--text-color-p);
    margin: 0 84px 25px 0; }
  .body .body-medium-one .body-button {
    font-family: var(--font-bold); }
.body .body-medium-two {
  margin: 100px 0; }
  .body .body-medium-two .img-body {
    width: 100%; }
  .body .body-medium-two .img-description {
    font-family: var(--font-regular);
    font-size: 16px;
    line-height: 21px;
    color: var(--text-color-description);
    margin-top: 10px; }
.body .body-slider {
  background: var(--slider-box-color-background);
  border-radius: 20px;
  padding: 70px 40px 50px 40px; }
  .body .body-slider .slider-title {
    font-family: var(--font-bold);
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 1.5px;
    color: var(--text-color-h4);
    padding: 25px 0; }
  .body .body-slider .slider-subtitle {
    font-family: var(--font-regular);
    font-size: 22px;
    line-height: 31px;
    color: var(--text-color-white);
    margin: 0; }
  .body .body-slider .slider-button {
    font-family: var(--font-regular);
    font-size: 18px;
    line-height: 20px;
    color: var(--text-color-button-three);
    background-color: transparent;
    border: 2px solid var(--button-color-border);
    border-radius: 8px;
    transition: 0.2s ease-out;
    padding: 16px 22px;
    margin: 70px 0 40px 0; }
    .body .body-slider .slider-button:hover {
      transform: scale(1.05, 1.05);
      box-shadow: 0px 0px 20px 8px rgba(248, 244, 244, 0.2); }
  .body .body-slider .carousel-inner .carousel-item .slider-card {
    display: flex;
    align-items: center; }
    .body .body-slider .carousel-inner .carousel-item .slider-card .person-img {
      width: 615px; }
    .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info {
      width: 625px;
      height: 551.7px;
      font-family: var(--font-regular);
      color: var(--text-color-white);
      text-align: start;
      background: var(--slider-color-background);
      border-radius: 0px 20px 20px 0px;
      padding: 40px 70px 70px 40px; }
      .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info__text {
        font-size: 30px;
        line-height: 36px;
        margin: 40px 31px 20px 0; }
      .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info__info {
        font-size: 22px;
        line-height: 31px;
        margin: 0; }
.body .body-templates {
  background: var(--templates-box-color-background);
  border-radius: 20px;
  margin: 40px 0 140px 0; }
  .body .body-templates .templates-info {
    padding: 70px 0 40px 0; }
    .body .body-templates .templates-info .new-box {
      width: 63px;
      background: var(--new-color-background);
      border-radius: 20px;
      padding: 2px 15px;
      margin: 0 auto 16px auto; }
      .body .body-templates .templates-info .new-box .new {
        font-family: var(--font-regular);
        font-size: 17px;
        line-height: 27px;
        color: var(--text-color-white);
        margin-bottom: 0; }
    .body .body-templates .templates-info .templates__title {
      font-family: var(--font-bold);
      font-size: 58px;
      line-height: 64px;
      letter-spacing: 1.5px;
      color: var(--text-color-white);
      margin-bottom: 0; }
    .body .body-templates .templates-info .templates__subtitle {
      font-family: var(--font-regular);
      font-size: 22px;
      line-height: 31px;
      color: var(--text-color-subtitle-two);
      margin: 25px 0 70px 0; }
  .body .body-templates .templates-box {
    margin: 0 -12px 20px -12px; }
    .body .body-templates .templates-box .templates-img {
      width: 100%; }

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1400px) {
  .body-slider .carousel-inner .carousel-item .slider-card .person-img {
    width: 615px; }
  .body-slider .carousel-inner .carousel-item .slider-card .slider-info {
    height: 520px !important; }
    .body-slider .carousel-inner .carousel-item .slider-card .slider-info__text {
      font-size: 26px !important;
      line-height: 32px !important; }
    .body-slider .carousel-inner .carousel-item .slider-card .slider-info .slider-button {
      font-size: 16px;
      line-height: 18px;
      margin: 60px 0 10px 0; } }
@media screen and (max-width: 1200px) {
  body .button-gray {
    height: 40px; }
  body .button-blue {
    height: 40px; }

  /* Header */
  .header__body .title {
    font-size: 90px;
    line-height: 80px; }
  .header__body .subtitle {
    font-size: 21px;
    line-height: 31px; }
  .header__body .header-subtitle {
    font-size: 17px;
    line-height: 25px; }

  /* Body */
  .body .body-top {
    margin-bottom: 50px; }
  .body .body-medium-one {
    margin: 100px 0 50px 0; }
    .body .body-medium-one .p-title {
      font-size: 25px;
      line-height: 31px; }
    .body .body-medium-one .h3-title {
      font-size: 47px;
      line-height: 55px;
      letter-spacing: 1px;
      margin: 15px 0 25px 0; }
    .body .body-medium-one .description {
      font-size: 20px;
      line-height: 29px; }
    .body .body-medium-one .body-button {
      font-size: 15px;
      line-height: 17px; }
  .body .body-medium-two {
    margin: 100px 0 50px 0; }
    .body .body-medium-two .img-body {
      width: 100%; }
    .body .body-medium-two .img-description {
      font-size: 14px;
      line-height: 19px; }
  .body .body-slider .carousel-inner .carousel-item .slider-card .person-img {
    display: none; }
  .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info {
    width: 100%;
    height: 100% !important;
    border-radius: 20px; }
    .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info .slider-button {
      margin: 40px 0 0 0; } }
@media screen and (max-width: 991px) {
  /* Body */
  .body .body-top {
    margin-bottom: 20px; }
    .body .body-top .video-cover {
      width: 100%; }
  .body .body-medium-one {
    margin: 100px 0 0 0; }
    .body .body-medium-one .description {
      margin: 0 0 25px 0; }
    .body .body-medium-one .body-button {
      margin-bottom: 10px; }
  .body .body-medium-two {
    margin: 0 0 20px 0; }
  .body .margin-top-none {
    margin: 10px 0 100px 0; }
  .body .body-slider .slider-title {
    font-size: 47px;
    line-height: 55px; }
  .body .body-slider .slider-subtitle {
    font-size: 16px;
    line-height: 25px; }
  .body .body-slider .slider-button {
    font-size: 13px;
    line-height: 15px;
    margin: 50px 0 40px 0; }
  .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info__text {
    font-size: 20px !important;
    line-height: 26px !important; }
  .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info__info {
    font-size: 20px;
    line-height: 26px; }
  .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info .slider-button {
    font-size: 12px;
    line-height: 14px; }
  .body .body-templates {
    margin: 40px 0 80px 0; }
    .body .body-templates .templates-info {
      padding: 30px 0; }
      .body .body-templates .templates-info .new-box {
        width: 59px;
        padding: 2px 13px;
        margin: 0 auto 10px auto; }
        .body .body-templates .templates-info .new-box .new {
          font-size: 13px;
          line-height: 23px; }
      .body .body-templates .templates-info .templates__title {
        font-size: 45px;
        line-height: 51px; }
      .body .body-templates .templates-info .templates__subtitle {
        font-size: 17px;
        line-height: 26px;
        margin: 20px 0 30px 0; } }
/* For medium devices */
@media screen and (max-width: 767px) {
  /* Header */
  .header__body .title {
    font-size: 55px;
    line-height: 45px; }
  .header__body .subtitle {
    font-size: 17px;
    line-height: 27px; }
  .header__body-input {
    width: 340px; }
  .header__body .header-subtitle {
    font-size: 15px;
    line-height: 23px; }

  /* Body */
  .body .body-top .body-title {
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 1px;
    margin-top: 70px; }
  .body .body-top .play-button {
    padding: 20px; }
    .body .body-top .play-button .play-button__text {
      display: none; }
  .body .body-medium-one {
    margin: 60px 0 0 0; }
    .body .body-medium-one .p-title {
      font-size: 20px;
      line-height: 26px; }
    .body .body-medium-one .h3-title {
      font-size: 37px;
      line-height: 45px; }
    .body .body-medium-one .description {
      font-size: 17px;
      line-height: 26px; }
  .body .margin-top-none {
    margin: 10px 0 110px 0; }
  .body .body-slider {
    padding: 50px 30px 35px 30px; }
    .body .body-slider .slider-title {
      font-size: 40px;
      line-height: 48px; }
    .body .body-slider .slider-subtitle {
      font-size: 12px;
      line-height: 21px; }
    .body .body-slider .slider-button {
      font-size: 10px;
      line-height: 12px;
      margin: 30px 0 30px 0; }
    .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info {
      padding: 30px 60px 30px 30px; }
      .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info__text {
        font-size: 17px !important;
        line-height: 23px !important; }
      .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info__info {
        font-size: 17px;
        line-height: 23px; }
      .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info .slider-button {
        font-size: 10px;
        line-height: 12px; }
  .body .body-templates .templates-info .templates__title {
    font-size: 34px;
    line-height: 40px; }
  .body .body-templates .templates-info .templates__subtitle {
    font-size: 14px;
    line-height: 23px;
    margin: 15px 0 20px 0; } }
@media screen and (max-width: 575px) {
  /* Body */
  .body .body-top {
    margin-bottom: 10px; }
    .body .body-top .video-cover {
      width: 85%; }
  .body .body-medium-one {
    margin: 50px 0 0 0; }
  .body .body-medium-two {
    margin: 0 0 10px 0; }
    .body .body-medium-two .img-body {
      width: 85%; }
  .body .margin-top-none {
    margin: 10px 0 40px 0; }
  .body .body-slider {
    background: transparent;
    padding-top: 0; }
    .body .body-slider .slider-img {
      display: none; }
    .body .body-slider .slider-title {
      color: var(--text-color-black); }
    .body .body-slider .slider-subtitle {
      color: var(--text-color-black); }
    .body .body-slider .slider-button {
      color: var(--text-color-black);
      border-color: var(--button-color-border-two); }
    .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info .slider-button {
      border-color: var(--button-color-border);
      color: var(--button-color-three); }
  .body .body-templates {
    margin: 30px auto 60px auto; } }
@media screen and (max-width: 540px) {
  /* Header */
  .header__body .title {
    font-size: 47px;
    line-height: 37px;
    margin: 38px 0; }
  .header__body .subtitle {
    font-size: 15px;
    line-height: 23px;
    margin: 14px 0; }
  .header__body-input {
    width: 280px; }
    .header__body-input .input-group .header-input::placeholder {
      font-size: 15px;
      line-height: 20px; }
    .header__body-input .input-group .input-group-prepend button {
      font-size: 15px;
      line-height: 20px; }
  .header__body .header-subtitle {
    font-size: 13px;
    line-height: 21px;
    margin: 25px 0 5px 0 !important; }

  /* Body */
  .body .body-top .body-title {
    font-size: 25px;
    line-height: 45px;
    margin-top: 50px; }
  .body .body-top .play-button {
    padding: 15px; }
  .body .body-medium-one .p-title {
    font-size: 15px;
    line-height: 21px; }
  .body .body-medium-one .h3-title {
    font-size: 28px;
    line-height: 36px; }
  .body .body-medium-one .description {
    font-size: 15px;
    line-height: 24px; }
  .body .body-medium-one .body-button {
    font-size: 14px;
    line-height: 16px; }
  .body .body-medium-two .img-description {
    font-size: 12px;
    line-height: 17px; }
  .body .body-templates {
    margin: 20px auto 50px auto; }
    .body .body-templates .templates-info {
      padding: 25px 0; }
      .body .body-templates .templates-info .new-box {
        width: 45px;
        padding: 1px 8px; }
      .body .body-templates .templates-info .templates__title {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 1px; }
      .body .body-templates .templates-info .templates__subtitle {
        font-size: 12px;
        line-height: 21px; }
      .body .body-templates .templates-info .templates-button {
        font-size: 14px;
        line-height: 18px; } }
/* For small devices */
@media screen and (max-width: 400px) {
  /* Header */
  .header__body .title {
    font-size: 35px;
    line-height: 25px; }
  .header__body .subtitle {
    font-size: 12px;
    line-height: 19px; }
  .header__body-input {
    width: 200px; }
    .header__body-input .input-group .header-input::placeholder {
      font-size: 10px;
      line-height: 15px; }
    .header__body-input .input-group .input-group-prepend button {
      font-size: 10px;
      line-height: 15px; }
  .header__body .header-subtitle {
    font-size: 10px;
    line-height: 17px; }

  /* Body */
  .body .body-top {
    margin-bottom: 5px; }
    .body .body-top .body-title {
      font-size: 20px;
      line-height: 40px;
      margin-top: 45px; }
    .body .body-top .play-button {
      padding: 10px; }
  .body .body-medium-one {
    margin: 30px 0 0 0; }
    .body .body-medium-one .h3-title {
      margin-top: 18px;
      margin-bottom: 10px; }
    .body .body-medium-one .description {
      font-size: 13px;
      line-height: 22px;
      margin-bottom: 5px; }
    .body .body-medium-one .body-button {
      font-size: 13px;
      line-height: 15px; }
  .body .body-medium-two {
    margin: 0 0 5px 0; }
    .body .body-medium-two .img-description {
      font-size: 10px;
      line-height: 15px; }
  .body .margin-top-none {
    margin: 10px 0 40px 0; }
  .body .body-slider .slider-title {
    font-size: 35px;
    line-height: 40px; }
  .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info {
    padding: 20px; }
    .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info img {
      display: none; }
    .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info__text {
      font-size: 14px !important;
      line-height: 20px !important;
      margin-top: 0; }
    .body .body-slider .carousel-inner .carousel-item .slider-card .slider-info__info {
      font-size: 14px;
      line-height: 20px; }
  .body .body-templates {
    margin: 10px auto 40px auto; }
    .body .body-templates .templates-info {
      padding: 15px 0; }
      .body .body-templates .templates-info .new-box {
        width: 40px; }
        .body .body-templates .templates-info .new-box .new {
          font-size: 10px;
          line-height: 20px; }
      .body .body-templates .templates-info .templates__title {
        font-size: 19px;
        line-height: 24px; }
      .body .body-templates .templates-info .templates__subtitle {
        font-size: 10px;
        line-height: 19px; }
      .body .body-templates .templates-info .templates-button {
        font-size: 12px;
        line-height: 14px; } }

/*# sourceMappingURL=styles.css.map */
