/*=============== PAGES ===============*/
@import './fonts.scss';
@import './vars.scss';


/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    .button-gray {
        font-family: var(--font-regular);
        font-size: 18px;
        line-height: 20px;
        color: var(--text-color-button-one);
        border-color: transparent;
        background-color: transparent;
        transition: 0.2s ease-out;
        height: 50px;

        &:hover {
            color: var(--text-color-button-one);
            border-color: var(--button-color-two);
            background-color: var(--button-color-two);
        }
    }

    .button-blue {
        font-family: var(--font-regular);
        font-size: 18px;
        line-height: 20px;
        color: var(--text-color-button-two);
        border-color: transparent;
        background-color: var(--button-color-one);
        transition: 0.2s ease-out;
        height: 50px;

        &:hover {
            color: var(--text-color-hover);
            background-color: transparent;
            border-color: var(--button-color-one);
        }
    }
}


/*=============== HEADER ===============*/
.header {
    .menu-link {
        font-family: var(--font-regular);
        font-size: 20px;
        line-height: 24px;
        color: var(--text-color-nav);
        transition: 0.2s ease-out;

        &:hover {
            color: var(--text-color-hover);
        }
    }

    &__body {
        .title {
            font-family: var(--font-regular);
            font-size: 120px;
            line-height: 110px;
            letter-spacing: 2px;
            color: var(--text-color-h1);
            text-align: center;
        }

        .subtitle {
            font-family: var(--font-regular);
            font-size: 26px;
            line-height: 36px;
            color: var(--text-color-subtitle);
            text-align: center;
            margin: 70px 0 30px 0;
        }

        &-input {
            width: 455px;

            .input-group {
                .header-input {
                    border-radius: 0px;
                    border: 2px solid var(--input-color-border);

                    &::placeholder {
                        font-family: var(--font-regular);
                        font-size: 20px;
                        line-height: 28px;
                        color: var(--text-color-gray);
                    }
                }

                .input-group-prepend {
                    button {
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }
                }
            }
        }

        .header-subtitle {
            font-family: var(--font-regular);
            font-size: 20px;
            line-height: 28px;
            color: var(--text-color-gray);
        }
    }
}


/*=============== BODY ===============*/
.body {
    .body-top {
        margin-bottom: 100px;

        .body-title {
            font-family: var(--font-regular);
            font-size: 36px;
            line-height: 56px;
            letter-spacing: 1.5px;
            color: var(--text-color-h2);
            margin-top: 90px;
        }
    
        .play-button {
            display: flex;
            align-items: center;
            background: var(--button-color-three);
            border: 2px solid transparent;
            border-radius: 40px;
            box-shadow: 0px 7px 10px rgba(186, 193, 197, 0.2);
            transition: 0.2s ease-out;
            padding: 21.5px 30px 21.5px 21.5px;
    
            &:hover {
                background: var(--button-color-two);
            }
    
            .play-button__text {
                font-family: var(--font-regular);
                font-size: 18px;
                line-height: 20px;
                color: var(--text-color-black);
                margin-left: 16.5px;
            }
        }
    }

    .body-medium-one {
        margin: 100px 0;

        .p-title {
            font-family: var(--font-bold);
            font-size: 30px;
            line-height: 36px;
            color: var(--text-color-green);
        }
    
        .h3-title {
            font-family: var(--font-bold);
            font-size: 56px;
            line-height: 64px;
            letter-spacing: 1.5px;
            color: var(--text-color-h3);
            margin: 15px 70px 25px 0;
        }
    
        .description {
            font-family: var(--font-regular);
            font-size: 22px;
            line-height: 31px;
            color: var(--text-color-p);
            margin: 0 84px 25px 0;
        }
    
        .body-button {
            font-family: var(--font-bold);
        }
    }

    .body-medium-two {
        margin: 100px 0;

        .img-body {
            width: 100%;
        }

        .img-description {
            font-family: var(--font-regular);
            font-size: 16px;
            line-height: 21px;
            color: var(--text-color-description);
            margin-top: 10px;
        }
    }

    .body-slider {
        background: var(--slider-box-color-background);
        border-radius: 20px;
        padding: 70px 40px 50px 40px;

        .slider-title {
            font-family: var(--font-bold);
            font-size: 56px;
            line-height: 64px;
            letter-spacing: 1.5px;
            color: var(--text-color-h4);
            padding: 25px 0;
        }

        .slider-subtitle {
            font-family: var(--font-regular);
            font-size: 22px;
            line-height: 31px;
            color: var(--text-color-white);
            margin: 0;
        }

        .slider-button {
            font-family: var(--font-regular);
            font-size: 18px;
            line-height: 20px;
            color: var(--text-color-button-three);
            background-color: transparent;
            border: 2px solid var(--button-color-border);
            border-radius: 8px;
            transition: 0.2s ease-out;
            padding: 16px 22px;
            margin: 70px 0 40px 0;

            &:hover {
                transform: scale(1.05, 1.05);
                box-shadow: 0px 0px 20px 8px rgba(248, 244, 244, 0.2);
            }
        }

        .carousel {
            &-inner {
                .carousel-item {
                    .slider-card {
                        display: flex;
                        align-items: center;

                        .person-img {
                            width: 615px;
                        }

                        .slider-info {
                            width: 625px;
                            height: 551.7px;
                            font-family: var(--font-regular);
                            color: var(--text-color-white);
                            text-align: start;
                            background: var(--slider-color-background);
                            border-radius: 0px 20px 20px 0px;
                            padding: 40px 70px 70px 40px;

                            &__text {
                                font-size: 30px;
                                line-height: 36px;
                                margin: 40px 31px 20px 0;
                            }

                            &__info {
                                font-size: 22px;
                                line-height: 31px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .body-templates {
        background: var(--templates-box-color-background);
        border-radius: 20px;
        margin: 40px 0 140px 0;

        .templates-info {
            padding: 70px 0 40px 0;

            .new-box {
                width: 63px;
                background: var(--new-color-background);
                border-radius: 20px;
                padding: 2px 15px;
                margin: 0 auto 16px auto;

                .new {
                    font-family: var(--font-regular);
                    font-size: 17px;
                    line-height: 27px;
                    color: var(--text-color-white);
                    margin-bottom: 0;
                }
            }

            .templates__title {
                font-family: var(--font-bold);
                font-size: 58px;
                line-height: 64px;
                letter-spacing: 1.5px;
                color: var(--text-color-white);
                margin-bottom: 0;
            }

            .templates__subtitle {
                font-family: var(--font-regular);
                font-size: 22px;
                line-height: 31px;
                color: var(--text-color-subtitle-two);
                margin: 25px 0 70px 0;
            }
        }

        .templates-box {
            margin: 0 -12px 20px -12px;

            .templates-img {
                width: 100%;
            }
        }
    }
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1400px) {
    .body-slider {
        .carousel {
            &-inner {
                .carousel-item {
                    .slider-card {
                        .person-img {
                            width: 615px;
                        }
    
                        .slider-info {
                            height: 520px !important;
    
                            &__text {
                                font-size: 26px !important;
                                line-height: 32px !important;
                            }
    
                            .slider-button {
                                font-size: 16px;
                                line-height: 18px;
                                margin: 60px 0 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    body {
        .button-gray {
            height: 40px;
        }

        .button-blue {
            height: 40px;
        }
    }

    /* Header */
    .header {
        &__body {
            .title {
                font-size: 90px;
                line-height: 80px;
            }

            .subtitle {
                font-size: 21px;
                line-height: 31px;
            }

            .header-subtitle {
                font-size: 17px;
                line-height: 25px;
            }
        }
    }

    /* Body */
    .body {
        .body-top {
            margin-bottom: 50px;
        }

        .body-medium-one {
            margin: 100px 0 50px 0;

            .p-title {
                font-size: 25px;
                line-height: 31px;
            }
    
            .h3-title {
                font-size: 47px;
                line-height: 55px;
                letter-spacing: 1px;
                margin: 15px 0 25px 0;
            }
    
            .description {
                font-size: 20px;
                line-height: 29px;
            }
    
            .body-button {
                font-size: 15px;
                line-height: 17px;
            }
        }

        .body-medium-two {
            margin: 100px 0 50px 0;

            .img-body {
                width: 100%;
            }
    
            .img-description {
                font-size: 14px;
                line-height: 19px;
            }
        }

        .body-slider {
            .carousel {
                &-inner {
                    .carousel-item {
                        .slider-card {
                            .person-img {
                                display: none;
                            }

                            .slider-info {
                                width: 100%;
                                height: 100% !important;
                                border-radius: 20px;

                                .slider-button {
                                    margin: 40px 0 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    /* Body */
    .body {
        .body-top {
            margin-bottom: 20px;

            .video-cover {
                width: 100%;
            }
        }

        .body-medium-one {
            margin: 100px 0 0 0;

            .description {
                margin: 0 0 25px 0;
            }

            .body-button {
                margin-bottom: 10px;
            }
        }

        .body-medium-two {
            margin: 0 0 20px 0;
        }

        .margin-top-none {
            margin: 10px 0 100px 0;
        }

        .body-slider {
            .slider-title {
                font-size: 47px;
                line-height: 55px;
            }

            .slider-subtitle {
                font-size: 16px;
                line-height: 25px;
            }

            .slider-button {
                font-size: 13px;
                line-height: 15px;
                margin: 50px 0 40px 0;
            }

            .carousel {
                &-inner {
                    .carousel-item {
                        .slider-card {
                            .slider-info {
                                &__text {
                                    font-size: 20px !important;
                                    line-height: 26px !important;
                                }

                                &__info {
                                    font-size: 20px;
                                    line-height: 26px;
                                }

                                .slider-button {
                                    font-size: 12px;
                                    line-height: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .body-templates {
            margin: 40px 0 80px 0;

            .templates-info {
                padding: 30px 0;

                .new-box {
                    width: 59px;
                    padding: 2px 13px;
                    margin: 0 auto 10px auto;

                    .new {
                        font-size: 13px;
                        line-height: 23px;
                    }
                }

                .templates__title {
                    font-size: 45px;
                    line-height: 51px;
                }

                .templates__subtitle {
                    font-size: 17px;
                    line-height: 26px;
                    margin: 20px 0 30px 0;
                }
            }
        }
    }
}

/* For medium devices */
@media screen and (max-width: 767px) {
    /* Header */
    .header {
        &__body {
            .title {
                font-size: 55px;
                line-height: 45px;
            }

            .subtitle {
                font-size: 17px;
                line-height: 27px;
            }

            &-input {
                width: 340px;
            }

            .header-subtitle {
                font-size: 15px;
                line-height: 23px;
            }
        }
    }

    /* Body */
    .body {
        .body-top {
            .body-title {
                font-size: 30px;
                line-height: 50px;
                letter-spacing: 1px;
                margin-top: 70px;
            }
    
            .play-button {
                padding: 20px;
    
                .play-button__text {
                    display: none;
                }
            }
        }

        .body-medium-one {
            margin: 60px 0 0 0;

            .p-title {
                font-size: 20px;
                line-height: 26px;
            }
    
            .h3-title {
                font-size: 37px;
                line-height: 45px;
            }
    
            .description {
                font-size: 17px;
                line-height: 26px;
            }
        }

        .margin-top-none {
            margin: 10px 0 110px 0;
        }

        .body-slider {
            padding: 50px 30px 35px 30px;

            .slider-title {
                font-size: 40px;
                line-height: 48px;
            }

            .slider-subtitle {
                font-size: 12px;
                line-height: 21px;
            }

            .slider-button {
                font-size: 10px;
                line-height: 12px;
                margin: 30px 0 30px 0;
            }

            .carousel {
                &-inner {
                    .carousel-item {
                        .slider-card {
                            .slider-info {
                                padding: 30px 60px 30px 30px;

                                &__text {
                                    font-size: 17px !important;
                                    line-height: 23px !important;
                                }

                                &__info {
                                    font-size: 17px;
                                    line-height: 23px;
                                }

                                .slider-button {
                                    font-size: 10px;
                                    line-height: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .body-templates {
            .templates-info {
                .templates__title {
                    font-size: 34px;
                    line-height: 40px;
                }

                .templates__subtitle {
                    font-size: 14px;
                    line-height: 23px;
                    margin: 15px 0 20px 0;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    /* Body */
    .body{
        .body-top {
            margin-bottom: 10px;

            .video-cover {
                width: 85%;
            }
        }

        .body-medium-one {
            margin: 50px 0 0 0;
        }

        .body-medium-two {
            margin: 0 0 10px 0;

            .img-body {
                width: 85%;
            }
        }

        .margin-top-none {
            margin: 10px 0 40px 0;
        }

        .body-slider {
            background: transparent;
            padding-top: 0;

            .slider-img {
                display: none;
            }

            .slider-title {
                color: var(--text-color-black);
            }

            .slider-subtitle {
                color: var(--text-color-black);
            }

            .slider-button {
                color: var(--text-color-black);
                border-color: var(--button-color-border-two);
            }

            .carousel {
                &-inner {
                    .carousel-item {
                        .slider-card {
                            .slider-info {
                                .slider-button {
                                    border-color: var(--button-color-border);
                                    color: var(--button-color-three);
                                }
                            }
                        }
                    }
                }
            }
        }

        .body-templates {
            margin: 30px auto 60px auto;
        }
    }
}

@media screen and (max-width: 540px) {
    /* Header */
    .header {
        &__body {
            .title {
                font-size: 47px;
                line-height: 37px;
                margin: 38px 0;
            }

            .subtitle {
                font-size: 15px;
                line-height: 23px;
                margin: 14px 0;
            }

            &-input {
                width: 280px;

                .input-group {
                    .header-input {
                        &::placeholder {
                            font-size: 15px;
                            line-height: 20px;
                        }
                    }

                    .input-group-prepend {
                        button {
                            font-size: 15px;
                            line-height: 20px;
                        }
                    }
                }
            }

            .header-subtitle {
                font-size: 13px;
                line-height: 21px;
                margin: 25px 0 5px 0 !important;
            }
        }
    }

    /* Body */
    .body {
        .body-top {
            .body-title {
                font-size: 25px;
                line-height: 45px;
                margin-top: 50px;
            }
    
            .play-button {
                padding: 15px;
            }
        }

        .body-medium-one {
            .p-title {
                font-size: 15px;
                line-height: 21px;
            }
    
            .h3-title {
                font-size: 28px;
                line-height: 36px;
            }
    
            .description {
                font-size: 15px;
                line-height: 24px;
            }
    
            .body-button {
                font-size: 14px;
                line-height: 16px;
            }
        }

        .body-medium-two {
            .img-description {
                font-size: 12px;
                line-height: 17px;
            }
        }

        .body-templates {
            margin: 20px auto 50px auto;

            .templates-info {
                padding: 25px 0;

                .new-box {
                    width: 45px;
                    padding: 1px 8px;
                }

                .templates__title {
                    font-size: 25px;
                    line-height: 30px;
                    letter-spacing: 1px;
                }

                .templates__subtitle {
                    font-size: 12px;
                    line-height: 21px;
                }

                .templates-button {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}

/* For small devices */
@media screen and (max-width: 400px) {
    /* Header */
    .header {
        &__body {
            .title {
                font-size: 35px;
                line-height: 25px;
            }

            .subtitle {
                font-size: 12px;
                line-height: 19px;
            }

            &-input {
                width: 200px;

                .input-group {
                    .header-input {
                        &::placeholder {
                            font-size: 10px;
                            line-height: 15px;
                        }
                    }

                    .input-group-prepend {
                        button {
                            font-size: 10px;
                            line-height: 15px;
                        }
                    }
                }
            }

            .header-subtitle {
                font-size: 10px;
                line-height: 17px;
            }
        }
    }

    /* Body */
    .body {
        .body-top {
            margin-bottom: 5px;

            .body-title {
                font-size: 20px;
                line-height: 40px;
                margin-top: 45px;
            }
    
            .play-button {
                padding: 10px;
            }
        }

        .body-medium-one {
            margin: 30px 0 0 0;

            .h3-title {
                margin-top: 18px;
                margin-bottom: 10px;
            }
    
            .description {
                font-size: 13px;
                line-height: 22px;
                margin-bottom: 5px;
            }
    
            .body-button {
                font-size: 13px;
                line-height: 15px;
            }
        }

        .body-medium-two {
            margin: 0 0 5px 0;

            .img-description {
                font-size: 10px;
                line-height: 15px;
            }
        }

        .margin-top-none {
            margin: 10px 0 40px 0;
        }

        .body-slider {
            .slider-title {
                font-size: 35px;
                line-height: 40px;
            }

            .carousel {
                &-inner {
                    .carousel-item {
                        .slider-card {
                            .slider-info {
                                padding: 20px;

                                img {
                                    display: none;
                                }

                                &__text {
                                    font-size: 14px !important;
                                    line-height: 20px !important;
                                    margin-top: 0;
                                }

                                &__info {
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .body-templates {
            margin: 10px auto 40px auto;

            .templates-info {
                padding: 15px 0;

                .new-box {
                    width: 40px;

                    .new {
                        font-size: 10px;
                        line-height: 20px;
                    }
                }

                .templates__title {
                    font-size: 19px;
                    line-height: 24px;
                }

                .templates__subtitle {
                    font-size: 10px;
                    line-height: 19px;
                }

                .templates-button {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
    }
}