/*=============== PAGES ===============*/
@import './fonts.scss';

/*=============== VARIABLES ===============*/
:root {
    /*======== Fonts ========*/
    --font-regular: 'Roboto-Regular';
    --font-bold: 'Roboto-Bold';

    /*======== Colors ========*/
    --text-color-nav: #141414;
    --text-color-footer: #778291;

    --text-color-h1: rgba(14, 16, 22, 0.95);
    --text-color-h2: #000000;
    --text-color-h3: rgba(14, 16, 22, 0.95);
    --text-color-h4: #FFFFFF;

    --text-color-p: rgba(14, 16, 22, 0.95);

    --text-color-subtitle: #35393F;
    --text-color-subtitle-two: #F4F3F3;
    --text-color-description: rgba(14, 16, 22, 0.4);

    --text-color-gray: #B2B2B2;
    --text-color-green: #0C9F64;
    --text-color-yellow: #FEC104;
    --text-color-white: #FFFFFF;
    --text-color-black: #000000;

    --text-color-button-one: #333333;
    --text-color-button-two: #FFFFFF;
    --text-color-button-three: #F4F6F8;

    --text-color-hover: #0099FF;

    --input-color-border: #0099FF;
    --button-color-border: #F8F4F4;
    --button-color-border-two: #000000;

    --button-color-one: #0099FF;
    --button-color-two: rgb(221, 221, 221);
    --button-color-three: #FFFFFF;
    --button-color-four: #0E1016;

    --slider-box-color-background: #202E78;
    --slider-color-background: #000639;
    --start-box-color-background: #3CA9FF;

    --templates-box-color-background: #181818;

    --new-color-background: #F64775;
}